.gallery {
  overflow: hidden;
  padding: 70px 0 0;

  @include vp-1199 {
    padding: 27px 0 0;
  }

  @include vp-767 {
    padding: 48px 0 0;
  }
}

.gallery__wrapper {
  max-width: 1440px;
  margin: 0 auto;

  h2 {
    @include title;
    margin: 0 120px 27px;
  }

  @include vp-1199 {
    h2 {
      margin: 0 45px 22px;
    }
  }

  @include vp-767 {
    h2 {
      margin: 0 15px 15px;
    }
  }
}

.gallery__header {
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  p {
    margin: 0;
    max-width: 700px;
  }

  @include vp-1199 {
    align-items: center;
    padding: 0 45px;
    margin-bottom: 38px;

    p {
      font-size: 14px;
      line-height: 22px;
      max-width: 400px;
    }
  }

  @include vp-767 {
    display: block;
    padding: 0 15px;
    margin-bottom: 14px;

    p {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 15px;
    }
  }
}

.gallery__slider-nav {
  width: max-content;
  margin-left: auto;
}

.gallery__slide {
  flex-shrink: 0;
  opacity: 0;
  transition: opacity 0.1s linear;
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 449px;

  img {
    object-fit: cover;
  }

  &--visible {
    opacity: 1;
  }

  &:nth-child(odd) {
    width: 275px;
  }

  &:nth-child(even) {
    width: 298px;
  }

  @include vp-767 {
    gap: 3px;

    &:nth-child(odd) {
      width: 158px;
    }

    &:nth-child(even) {
      width: 172px;

      picture {
        &:first-child {
          height: 103px;
        }

        &:last-child {
          height: 153px;
        }
      }
    }
  }
}
