.header {
  position: absolute;
  z-index: 4;
  width: 100%;
  padding: 40px 120px 0;

  @include vp-1199 {
    padding: 30px 45px 0;

    &.light {
      background-color: $color-default-white;
    }
  }

  @include vp-767 {
    padding: 15px 15px 0;
  }
}

.header__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;

  @include vp-1199 {
    flex-wrap: wrap;
    gap: 50px 30px;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: 26px 112px;
    gap: 8px 0;
    justify-content: space-between;
    align-items: start;
  }
}

.header__close {
  display: none;
  stroke: $color-elephant;
}

.header__menu {
  fill: $color-default-white;
}

.header.light .header__menu {
  display: none;
}

.header.light .header__close {
  display: block;
}

.header__logo {
  width: 205px;
  height: 62px;
  border: 1px solid transparent;

  svg {
    fill: $color-default-white;
  }

  @include header-items-states;

  @include vp-1199 {
    width: 144px;
    height: 44px;
    margin-left: 98px;

    svg {
      width: 144px;
      height: 44px;
    }

    &.dark {
      svg {
        fill: $color-elephant;
      }

      @include header-items-states;
    }
  }

  @include vp-767 {
    width: 112px;
    height: 34px;
    margin: 0;

    svg {
      width: 112px;
      height: 34px;
    }
  }
}

.header__button {
  @include center;

  display: none;

  @include header-items-states;

  @include vp-1199 {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}

.header__button:hover .header__close,
.header__button:focus .header__close {
  outline: none;
  stroke: #1c3374;
}

.header__button:active .header__close {
  stroke: $color-navy-blue;
}

.header__phone {
  color: $color-default-white;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  max-width: 150px;

  @include header-items-states;

  @include vp-1199 {
    font-size: 16px;
    line-height: 16px;

    &.dark {
      color: $color-elephant;

      @include header-items-states;
    }
  }

  @include vp-767 {
    grid-column: 2 / -1;
    text-align: right;
    font-size: 14px;
    line-height: 14px;
  }
}
