.tours {
  padding: 120px 120px 60px;

  @include vp-1199 {
    padding: 82px 45px 35px;
  }

  @include vp-767 {
    padding: 62px 15px 33px;
  }
}

.tours__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;

  h2 {
    @include title;

    margin: 0;
    flex-grow: 1;
  }

  @include vp-1199 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.tours__slider {
  overflow: hidden;
  margin-bottom: 52px;

  @include vp-1199 {
    padding: 0 5px;
  }

  @include vp-767 {
    padding: 0;
    margin-bottom: 30px;
  }
}

.tours__slide {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 122, 255, 0.4);
  flex-shrink: 0;
  min-height: 412px;

  h3 {
    font-size: 24px;
    line-height: 28px;
    max-width: 240px;
    margin: 0 0 17px;
  }

  @include vp-767 {
    h3 {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.tours__image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.tours__overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 100%;
  padding: 20px;
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.tours__slide-wrapper {
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  &:last-child {
    margin: 0;
    gap: 0;
  }

  span {
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
  }

  @include vp-767 {
    margin-bottom: 14px;
    justify-content: flex-start;
    gap: 14px 26px;
    flex-wrap: wrap;

    &:last-child {
      gap: 15px;
    }
  }
}

.tours__slide-wrapper .tours__slide-place {
  padding: 9px 24px;
  background-color: $color-navy-blue;
  max-width: 108px;
  gap: 6px;

  @include vp-1199 {
    padding: 9px 23px 9px 15px;
  }

  @include vp-767 {
    min-width: 97px;
    order: 1;
  }
}

.tours__slide-place svg {
  flex-shrink: 0;
}

.tours__slide-info {
  padding-top: 20px;

  &--rating {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  span {
    display: block;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    margin-bottom: 3px;
  }

  b {
    font-size: 13px;
    line-height: 13px;
  }

  @include vp-767 {
    padding-top: 13px;

    b {
      font-size: 12px;
      line-height: 12px;
    }
  }
}

.tours__slide-stars {
  margin-top: 6px;
  display: flex;
}

.tours__link {
  display: flex;
  gap: 12px;
  width: max-content;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  color: $color-elephant;

  svg {
    stroke: $color-elephant;
  }

  @include hover-focus {
    color: #1c3374;
    outline: none;

    svg {
      stroke: #1c3374;
    }
  }

  &:active {
    color: $color-navy-blue;

    svg {
      stroke: $color-navy-blue;
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.1;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
    text-transform: uppercase;
  }
}

.tours__wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
